[init]
  ; my preference
	defaultBranch = master
[user]
	email = torok.karoly.krisztian@gmail.com
	name = Károly Török
	signingkey = 58028BA359F04E71
[commit]
  ; sign every commit
	gpgsign = true
[tag]
	gpgSign = true
[alias]
	lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset %s %C(cyan)(%ar)%Creset'
	new = lg master..HEAD
	missing = lg HEAD..master
[core]
  pager = delta
	editor = nvim
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
  ; show the base for merge conflict
	conflictstyle = zdiff3
[diff]
  ; different color for moved lines
	colorMoved = plain
  ; cleaner diff if something is moved
	algorithm = histogram
	submodule = log
[rebase]
  ; I usually rebase and squash
	autoStash = true
	autoSquash = true
	updateRefs = true
[credential "https://gitlab.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
[push]
  ; Push the current branch
	default = current
  ; upstream branch name must be the same
	autoSetupRemote = false
  ; auto push tags
	followTags = true
[rerere]
  ; Reuse recorded resolutions
	enable = true
	enabled = true
	autoupdate = true
[status]
	submoduleSummary = true
[submodule]
	recurse = true
[branch]
  ; sorts the list by the most recent commit date
  sort = -committerdate 
[pull]
  ; rebase by default
	rebase = true
[includeIf "gitdir/i:~/Projects/frontend-monorepo/"]
  ; work profile
  path = ~/.gitconfig.work
[includeIf "gitdir/i:~/Projects/registration/"]
  ; work profile
  path = ~/.gitconfig.work
[color "diff"]
  ; different color for moved lines
  newMoved = blue
	oldMoved = magenta
[fetch]
  ; sync when fetched
	prune = true
	pruneTags = true
	all = true
[help]
  ; Help correct cli
	autocorrect = prompt
