layout {
  cwd "/home/ktorok/Projects/CompReg/Git/RegistryCxn_webapp"

  pane_template name="npm" {
    command "npm"
    start_suspended true
  }

  default_tab_template {
    children

    pane size=1 borderless=true {
      plugin location="file:~/.local/share/zellij/plugins/zjstatus.wasm" {
          format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
          format_right "{datetime}"
          format_space ""

          border_enabled  "false"
          border_char     "─"
          border_format   "#[fg=#6C7086]{char}"
          border_position "top"

          hide_frame_for_single_pane "true"

          mode_normal  "#[bg=#AD7DFF] "
          mode_tab  "#[bg=#EEDA00] "
          mode_pane  "#[bg=#52E7E1] "
          mode_resize  "#[bg=#FF82B4] "
          mode_seach  "#[bg=#06B741] "
          mode_scroll  "#[bg=#0081C2] "
          mode_locked  "#[bg=#4E465B] "

          tab_normal   "#[fg=#6C7086] {name} "
          tab_active   "#[fg=#9399B2,bold,italic] {name} "

          datetime        "#[fg=#6C7086,bold] {format} "
          datetime_format "%A, %d %b %Y %H:%M"
          datetime_timezone "Europe/Berlin"
      }
    }
  }

  tab name="Dev" focus=true {
    pane borderless=true
  }
  tab name="Test" {
    pane split_direction="vertical" {
      pane 
      npm {
        args "run" "test-watch"
      }
    }
  }
  tab name="Remote" {
    pane borderless=true
  }
}
