* {
  border-radius: 0;
  font-family: "0xProto Nerd Font";
  font-size: 14px;
}

#cpu.elevated {
	color: @orange_light;
}

#cpu.warning {
	color: @pink_light;
}

#cpu.critical {
	color: @red_light;
}

#battery.warning {
	color: @orange_light;
}

#battery.critical {
	color: @red_light;
}

#workspaces button {
  color: @grey_40;
  padding-left: 0;
  padding-right: 0;
}

#workspaces button:hover {
  background: @teal_darke
}

#workspaces button.active {
  color: @teal_light;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button.active:hover {
  background: @teal_light;
  color: black;
}

#custom-powermenu {
  color: @pink_dark;
}

#cpu, #memory, #backlight , #pulseaudio, #battery, #tray {
  color: @grey_10;
}


window#waybar.bottom #pill,
window#waybar.bottom #pill button,
window#waybar.top #pill,
window#waybar.top #pill button,
window#waybar.left #pill,
window#waybar.left #pill button,
window#waybar.right #pill,
window#waybar.right #pill button {
  border-radius: 10pt;
  min-width: 25pt;
}

window#waybar.top #pill,
window#waybar.bottom #pill,
window#waybar.left #pill,
window#waybar.right #pill {
    margin-top: 5pt;
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
}

window#waybar #pill.activity {
    margin-left: 8pt;
    margin-right: 8pt;
}

@keyframes blink {
    to {
        color: @grey_5;
    }
}

#cpu.warning:not(.normal),
#cpu.critical:not(.normal),
#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

