/* User custom styles */

* {
  border-radius: 0;
  font-family: "0xProto Nerd Font";
  font-size: 16px;
}

#cpu.elevated {
	color: @orange_light;
}

#cpu.warning {
	color: @pink_light;
}

#cpu.critical {
	color: @red_light;
}

#battery.warning {
	color: @orange_light;
}

#battery.critical {
	color: @red_light;
}

#workspaces button {
  color: @grey_40;
  padding-left: 0;
  padding-right: 0;
}

#workspaces button:hover {
  background: @teal_dark;
}

#workspaces button.active {
  color: @teal_light;
  background: none;
  padding-left: 0px;
  padding-right: 0px;
}

#workspaces button.active:hover {
  background: @teal_light;
  color: black;
}

#workspaces .workspace-label {
  /* font-size: 18px; */

}

#custom-power {
  color: @red_light;
}

/* ? Full Pill  shape*/

window#waybar.bottom #pill,
window#waybar.bottom #pill button,
window#waybar.top #pill,
window#waybar.top #pill button,
window#waybar.left #pill,
window#waybar.left #pill button,
window#waybar.right #pill,
window#waybar.right #pill button {
  border-radius: 10pt 10pt 10pt 10pt;
  min-width: 25pt;
}

window#waybar.top #pill,
window#waybar.bottom #pill,
window#waybar.left #pill,
window#waybar.right #pill {
    margin: 5pt 0 5pt 0;
}
