/* User custom styles */

* {
  border-radius: 0;
  font-family: "0xProto Nerd Font";
  font-size: 16px;
}


#cpu.elevated {
  /* orange */
	color: #FFB271;
}

#cpu.warning {
  /* pink */
	color: #FF82B4;
}

#cpu.critical {
  /* red */
	color: #FF7878;
}

#battery.warning {
  /* orange */
	color: #FFB271;
}

#battery.critical {
  /* red */
	color: #FF7878;
}

#workspaces button {
  color: #4E465B;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button:hover {
  /* dark teal */
  background: #0CABA6;
}

#workspaces button.active {
  /* teal */
  color: #52E7E1;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces button.active:hover {
  /* teal */
  background: #52E7E1;
  color: black;
}

#workspaces .workspace-label {
  /* font-size: 18px; */
}

#custom-power {
  /* red */
  color: #FF7878;
}

